body {
    font-family: 'Hind', sans-serif;
    padding: 20px;
}

.post {
    width: 330px;
    height: auto;
    box-shadow: 0 3px 42px 1px rgba(0,0,0,.49);
    text-align: center;
    position: relative;
}

.post-text{
    color: #989898;
    text-transform: uppercase;
    font-size: 14px;
}

.post__photo {
    width: 100%;
}

.post__logo{
    width: 35px;
    height: 30px;
    background-color: #262626;
    position: relative;
    top: -20px;
    display: inline-block;
    line-height: 30px;
}

.post__logo img {
    vertical-align: middle;
}

.post__content{
    margin-top: 18px;
    margin-bottom: 38px;
}

.content__text {
    margin-top: 2px;
    letter-spacing: 1px;
}

.content__title{
    color: #212121;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.content__more{
    margin-top: 28px;
}

.content__more:before, .content__more:after {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #d6d6d6;
    content: '';
    margin: 0 auto;
}

.content__more::before{
    margin: 0 auto 3px auto;
}

.content__more:hover:before, .content__more:hover:after{
    background-color: #d67900;
}

.content__more-link{
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #989898;
    letter-spacing: 2px;
}

.content__more:hover .content__more-link{
    color: #d67900;
}

.post__footer{
    position: relative;
}

.footer{
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #f7f7f7;
    padding: 0 30px;
    width: calc(100% - 60px);
    text-align: left;
}

.footer__comments:before{
    content: '';
    background-image: url("../images/comments.png");
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}